body {
    /* background-color: rgb(187, 153, 111); */
    @apply bg-yellow-700;
    font-family: "Lato", sans-serif;
}

h1{
    font-family: "Fredericka the Great", cursive;
}

input {
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}
